* {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #EFECEC;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #0C2D57;
    color: white;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
}


.grid-container {
    display: flex;
    flex-direction: column;
    height: 750px;
    width: 750px;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    background-color: white;
    
}

.hover-effect {
    background-color: lightgrey; /* Change this to your desired color */
}

.footer {
    display: flex;
    font-size: large;
    padding: 25px;
    justify-content: center;
    background-color: #FC6736;
    color: white;
}

.left-side {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.right-side {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #FFB0B0;
    color: white;
    font-weight: bold;
    font-size: large;
    border-style: solid;
    border-color: #0C2D57;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px;
}

.active {
    background-color: #0C2D57;
}

.grid-square {
    display: flex;
    flex-grow: 1;
    height: auto;
    width: auto;
    border-style: dashed;
    border-color: lightgrey;
    border-width: 1px;
}

.hover-effect {
    background-color: lightgrey;
}

.black-color {
    background-color: black;
    border-color: black;
}

